
.japan{
  width:300px;
  height:200px;
  background:white;
  position:relative;
  border:1px solid black;
}

.sun{
  width:100px;
  height:100px;
  background:red;
  border-radius:50%;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}